:root {
	--primary: #873847;
	--secondary: #f5c4cd;
	--headerBackground: #ffffff;
	--navUnselected: #f5c4cd66;
	--navSelected: var(--primary);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "EB Garamond", serif;
}

body {
	display: grid;
	max-height: 100vh;
	background-color: black;
}

.wrapper {
	margin: 0 auto;
	max-width: min(1100px, 85%);
    display: grid;
    grid-template-columns: 40% 60%;
  	grid-template-rows: 3vh 20vh 52vh 22vh 3vh;
}
.navigation {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	position: relative;
	text-align: right;
	margin-right: 1em;
	align-self: flex-end;
}
header {
	background-color: var(--headerBackground);
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: inset -4px 0px 10px #00000033;
	background-size: cover;
	background-position: center center;
	position: relative;
}
main {
	background-color: white;
	max-height: 100vh;
    overflow-y: auto;
	grid-column: 2 / span 1;
	grid-row: 2 / span 3;
	border-radius: 10px;
}
footer {
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
	position: relative;
	text-align: right;
	margin-right: 1em;
	align-self: flex-end;
	color: white;
	font-size: .9em;
    opacity: .7;
}
.site-title {
	font-family: 'IM Fell English', serif;
	font-style: italic;
	font-size: 2.5em;
    color: white !important;
}
.site-title:hover {
	text-decoration: none;
}
.hero-description, .pottery li .price {
	position: absolute;
    bottom: 0;
    background: #00000099;
    width: 100%;
    font-size: .8em;
    padding: .5em 1em;
    text-align: right;
    color: #ffffffcc;
}
p,
pre,
code {
	line-height: 1.5;
}

h1 {
	font-size: 2.5em;
	font-family: 'IM Fell English', serif;
	color: white;
	background-color: var(--primary);
	padding: 40px 25px 10px;
	margin: 0;
}

h2 {
	font-size: 1.75em;
    font-family: 'IM Fell English', serif;
    margin: 0;
}

article a:not(.button) {
    text-decoration: none;
    background-image: linear-gradient(to right, var(--secondary) 50%,var(--secondary) 50%);
    background-position: 0 1.18em;
    background-repeat: repeat-x;
    padding-bottom: 3px;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

main article {
	padding: 25px;
}
main :first-child,
main > article :first-child, h2 + p {
	margin-top: 0;
}

article .rt {
    float: right;
    margin-left: .5em;
}
/* .navigation nav */
.navigation nav {
	margin-top: -10px;
}
.navigation nav ul {
	padding: 0;
	list-style: none;
}

.navigation nav ul :first-child {
	margin-left: 0;
}

.navigation nav li {
	display: inline-block;
	margin: 0 .25em;
}

.navigation nav li a {
	border-radius: 1em;
    font-size: .85em;
    padding: .4em 1.2em;
	background-color: var(--navUnselected);
	color: white !important;
	opacity: .7;
	transition: all .6s;
}

.navigation nav li a:not([data-current="current item"]):hover {
	text-decoration: none;
	background-color: white;
	color: var(--primary) !important;
	opacity: 1;
}

.navigation nav li a[data-current="current item"] {
	background-color: var(--navSelected);
	opacity: 1;
	font-weight: bold;
}

.button, button {
	border-radius: 1em;
    font-size: .85em;
    padding: .4em 1.2em;
	color: white !important;
	background-color: var(--navSelected);
	opacity: 1;
	font-size: 1em;
	border: 0;
}

.pottery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 20px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.pottery li {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 200px;
	background-size: cover;
	background-position: center center;
	position: relative;
	border-radius: 10px;
}

.pottery li:hover {
	cursor: pointer;
}

.pottery li .price {
    width: auto;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
    border: 1px solid #d4d4d4;
	border-radius: 10px;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 840px) and (max-width: 1150px) {
	.site-title { font-size: 2em; }
	.navigation nav li {
		margin: 0 .1em;
	}
	.navigation nav li a {
		padding: .4em .8em;
	}
	.wrapper {
		max-width: 95%;
	}
}

@media screen and (max-width: 839px) {
	.wrapper {
		max-width: 100%;
		display: block;
	}
	.navigation {
		text-align: center;
		margin: 2em 0em;
	}
	header, main {
		border-radius: 0;
	}
	header {
		height: 450px;
	}
	main {
		overflow: visible;
    	max-height: unset;
	}
	footer {
		text-align: center;
		margin: 1em;
	}
	.pottery {
		grid-template-columns: repeat(2, 1fr);
	}
	article .rt {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
}

