<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<div class="wrapper">
			<div class="navigation">
				<a class="site-title" href="{{ '/' | url }}">{{ metadata.title }}</a>
				{% include "components/nav.njk" %}
			</div>
			<header {% if (hero) %}style="background-image: url({% image hero %})"{% endif %}>
				{% if (hero) %}
					<div class="hero-description">{{ heroDescription }}</div>
				{% endif %}
			</header>
			<main>
				{{ layoutContent | safe }}
			</main>
			{% include "components/footer.njk" %}
		</div>
	</body>
</html>
